label {
    display: block;
    margin-bottom: 10px;
}

input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#strength {
    margin-top: 10px;
    font-weight: bold;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;

}